* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(201, 190, 212);
}

main {
    background-color: rgba(218, 235, 235, 0.458);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 255, 0.366);
}
